<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FableMart™ - Orders</title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='/stylesheets/orders-index.css' />
</head>

<body>
  <header>
    <a href="/"><img src="/images/fablemart-logo-without-decoration.png" alt="fablemart" height="50px" width="100px"></a>
    <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="/users/<%= user.username %>">Profile</a>
    <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="/items/new">+Item</a>
    <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="/messages">Messages</a>
    <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
    <a href="/orders">Orders</a>
  </header>
  <div class="container col-l-9 col-9 col-s-10 col-xs-10">
    <h1>Orders Pending</h1>
    <div class="all-orders col-xs-11 col-s-11 col-11 col-l-11 col-xl-11 col-xxl-11">

      <div class="col-xs-10 col-s-10 col-10 col-l-5 col-xl-5 col-xxl-5">
        <br>
        <h2>Received</h2>

        <div class="orders">
          <%receivedOrders.forEach((order)=> { %>
          <div class="single-order">

            <div class="order-text">
              <p><%= order.buyerUsername %> sent you a request for <a href="/items/<%=order.itemID%>" class="item-link"> this item. </a> </p>
            </div>

            <span class="button_arrangement">
              <form class="like" action="/orders/<%=order._id%>/confirm?_method=PATCH" method="POST">
                <input class="like" type="submit" value="Confirm">
              </form>

              <form action="/orders/<%=order._id%>/decline?_method=PATCH" method="POST">
                <input class="like" type="submit" value="Decline">
              </form>
            </span>
          </div>
          <%})%>
        </div>
      </div>

      <div class="col-xs-10 col-s-10 col-10 col-l-5 col-xl-5 col-xxl-5">
        <br>
        <h2>Sent</h2>
        <div class="orders">
          <%sentOrders.forEach((order)=> { %>
          <div class="single-order">

            <div class="order-text">
              <p>You sent <%= order.sellerUsername %> a request for <a href="/items/<%=order.itemID%>" class="item-link"> this item.</a> </p>
            </div>

            <span class="button_arrangement">

              <form action="/orders/<%=order._id%>/cancel?_method=PATCH" method="POST">
                <input class="like" type="submit" value="Cancel">
              </form>
            </span>
          </div>
          <%})%>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>FableMart™ - Bringing imagination to life</p>
    <form action="/sessions?_method=DELETE" method="POST">
      <input id="logout-button" type="submit" value="Log Out">
    </form>
  </footer>

</body>

</html>