<!DOCTYPE html>
<html lang="en">

<head>
  <title>Acebook - Homepage</title>
</head>

<body>
  <header>
    <span>
      <a href="/items">FableMart</a>
      <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a href="/users/<%=item.owner%>">User Profile</a>
      <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a href="/items/new">New Item</a>
      <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a href="/messages">Message</a>
      <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a href="/orders">Orders</a>
      <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a href="/sessions/new">Log out</a>
    </span>
    <br>
  </header>
  <hr>

  <header>
    <span>
      <a href="/items">Most Popular</a>
      <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a href="/items">Most Recent</a>
      <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a href="/items">Recently Viewed</a>
      <span class="larger">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a href="/items">Etc.</a>
    </span>
    <br>
  </header>
  <hr>

  <div>

  </div>

  <br>

  <img src="<%= item.photo %>" height="400" width="400">
  <p><%= item.name%></p>
  <p><%= item.description%></p>
  <a href="/users/<%=item.owner%>">
    <p>Owner: <%= item.owner%></p>
  </a>
  <p><%= item.viewedBy.length%> views</p>
  <p><%= item.likedBy.length%> likes</p>

  <form action="/items/<%= item.id%>/like?_method=PATCH" method="POST">
    <% if (item.isLiked) { %>
    <button><input class="logout" type="submit" value=""><i class="fas fa-heart" style="font-size: 30px; color: red"></i></button>
    <% } else { %>
    <button><input class="logout" type="submit" value=""><i class="far fa-heart" style="font-size: 30px; color: grey"></i></button>
    <% } %>
  </form>


  <form action="/items/<%= item.id%>/order" method="POST">
    <button>
      <input class="logout" type="submit" value="Order">
      <i class="far fa-heart" style="font-size: 30px; color: grey"></i>
    </button>
  </form>

</body>
<footer>FableMart™ in partnership with Eta™</footer>

</html>