<a href="/">home</a>
<h1>editing <%=profileUser.username %>'s profile</h1>
<p> username: <%=profileUser.username %></p>
<p> email: <%=profileUser.email %></p>
<form action="/users/<%=profileUser.username%>?_method=PATCH" method="POST">
    <input type="text" value="<%=profileUser.bio %>" name="bio">
    <input type="submit" value="update details">
  </form>
</p>
<p>Items: </p>

