<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Acebook - Timeline</title>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <link rel='stylesheet' href='/stylesheets/posts-index.css' />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

        <script>
            window.addEventListener('beforeunload', function () {
                localStorage.setItem('scrollPosition', window.pageYOffset);
            });

            window.addEventListener('load', function () {
                var scrollPosition = localStorage.getItem('scrollPosition');
                if (scrollPosition !== null) {
                    window.scrollTo(0, scrollPosition);
                    localStorage.removeItem('scrollPosition');
                }
            });
        </script>
    </head>
    <body>
        <header>
            <span class="site_logo">
                <a href="/posts"><img src="/images/logo trial 3.png" alt="Acebook" height="50"></a>
            </span>

            <span class="larger">

                <form class="button" action="/posts/new">
                    <input class="logout" type="submit" value="New post">
                </form>

                &nbsp;&nbsp;|&nbsp;&nbsp;

                <form class="button" action="/sessions?_method=DELETE" method="POST">
                    <input class="logout" type="submit" value="Log Out">
                </form>

                &nbsp;&nbsp;|&nbsp;&nbsp;

                <form class="button" action="/requests" method="GET">
                    <input class="logout" type="submit" value="Requests">
                </form>

            </span>
            </span>
        </header>

        <div class="content col-xs-10 col-s-10 col-7">
            <h1>Timeline</h1>

            <div class="posts">
                {{#each posts}}
                    <div class="post">
                        <div class="title">
                            <span class="user-pic">
                                <div class="profile-photo">
                                    <img src="/images/logo trial 2.png" alt="profile-photo">
                                </div>
                                <div class="author">{{this.author}}
                                </div>
                            </span>

                            <span class="request">
                                <form action="/requests/{{this.author}}" method="POST">
                                    <input class="custom-file-upload" type="submit" value="{{this.requestStatus}}" {{#unless this.requestButtonEnabled}} disabled{{/unless}}>
                                </form>
                            </span>
                        </div>
                        <p>{{this.message}}</p>
                        <div class="likes-comments">

                            <div>
                                <span class="comments">
                                    <p>{{this.likes}}{{#if this.isMultiple}} Likes {{else}} Like
                                        {{/if}}&nbsp;&nbsp;|&nbsp;&nbsp;
                                        <a href="/posts/{{this._id}}">
                                            <p>{{this.comments.length}}
                                                {{#if this.commentsPlural}}Comments{{else}}Comment{{/if}}</p>
                                        </a>
                                    </p>
                                </span>
                            </div>

                            <div>
                                <span class="comments">
                                    <form action="/posts/{{this._id}}/like?_method=PATCH" method="POST">
                                        {{#if this.isLiked}}
                                            <button><input class="logout" type="submit" value=""><i class="fas fa-heart"
                                                    style="font-size: 30px; color: red"></i></button>
                                        {{else}}
                                            <button><input class="logout" type="submit" value=""><i class="far fa-heart"
                                                    style="font-size: 30px; color: grey"></i></button>
                                        {{/if}}
                                    </form>
                                </span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </body>
    <footer>Acebook™ in partnership with Eta™</footer>
</html>